:root{
    --fundo:#935cce;
--cor-frente:#7138e2;
--cor-verso:#b6c0ee;
--destaque:#9000ff;
--preto:#000000;
--branco:#ffffff;
}
body{
    background-color: var(--fundo);
    margin: 0;
}
header{
    background-color: var(--cor-frente);
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

header a{
    color: var(--branco);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var( --cor-frente);
    color: var(--branco);
    width: 100%;
    text-align: center;
}